{% load static %}

{% load i18n %}
{% load account socialaccount %}


{% get_providers as socialaccount_providers %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="/account/login/">Sign In</a>
            <a href="/account/signup/">Sign Up</a>
            <a href="/account/google/login/?process=login">Google Login</a>
            <a class="active" href="/account/password/reset/">Password Reset</a>
        </div>
        <h1>Password Reset</h1>
        <form class="login" method="POST" action="{% url 'account_reset_password' %}">
            <span class="pull-right">Not yet a member? <a href="{% url 'account_signup' %}">Join</a></span>
            {% csrf_token %}
            <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required="" id="id_email"></p>
            <input type="submit" value="Reset My Password">
            <button class="primaryAction" type="submit">Sign In</button>
        </form>
    </body>
</html>